:root {
  --header-text-color: rgb(255, 255, 255);
  --footer-text-color: rgb(173, 181, 189);
  --button-label-color: rgb(255, 255, 255);
  --button-bg-color: rgb(164, 135, 110);

  --legend-text-color: rgb(164, 135, 110);
}
