.header-background,
.header-background::after {
  position: absolute;
  top: 0;
  height: 450px;
  left: 0;
  right: 0;
}
.header-background::after {
  content: "";
  background-image: linear-gradient(
      0deg,
      #212529 40%,
      rgba(33, 37, 41, 0.9) 100%,
      rgba(33, 37, 41, 0.85) 100%
    ),
    url("/image/b2-1.jpg");
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-background,
.footer-background::after {
  position: absolute;
  bottom: 0;
  height: 400px;
  left: 0;
  right: 0;
}

.footer-background,
.header-background {
  content: "";
  background-image: linear-gradient(
      0deg,
      #212529 -300%,
      rgba(33, 37, 41, 0.9) 800%,
      rgba(33, 37, 41, 0.85) 100%
    ),
    url("/image/b1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: transparent;
  height: 300px;

}

.content {
  background-color: transparent;
  height: 200px;
  flex: 1;
  max-width: 400px;
}

.capaTex {

position: static;
  background: rgba(13, 13, 14, 0.53);
  width: 100%;
  height: 130%;
  float:left;
  margin-bottom: -200px;
}
.capaImg {
  position:-ms-device-fixed;
  background: dimgray;
  width: 200%;
  height: 200%;

  clear-side: auto;
}

@font-face {
 font-family: 'oswald';
  src: url('/fonts/oswald-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1{
  font-family: oswald-light;
  color: #ce996e;
  font-size: small;
  margin-left: 30px;

}
h2{
  font-family: oswald-medium;
  color: #ffffff;
margin-left: 30px;
}
p{
  font-family: oswald-light;
  font-size: 18px;
  color: #858c93;
  margin-left: 30px;
}
.my-button {
  margin-left: 30px;
  margin-top: 94px;
  padding: 10px 50px;
  background-color: #ce996e;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}