---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Info">

    <div class="title">
        <h1>Contact Info</h1>
    </div>
    <div class="content">
        <p>610 Placer Loquen, Paris, France.</p>
        <p>+33 321-654-9876 (Ext: 123).</p>
        <p>contact@example.com</p>
        <p>www.example.com</p>
    </div>

</Layout>

<style>
    div {
        color: white;
    }

    .content, .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        margin: 0.5rem 0;
    }

</style>
