---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css";
import flechita from "../../public/icons/arrow.right.svg";
import DescriptionContent from "../components/DescriptionContent.astro";
---

<Layout title="Vios Constructora 2023">
  <div class="header-background"></div>

  <div class="wrapper">
    <div class="content">
      <h1>Contenido 1</h1>
    </div>
  </div>

  <div class="wrapper">
    <div class="content">
      <div class="capaTex">
        <h1>GET TO KNOW US</h1>
        <h2>ABOUT ACRINO</h2>
        <p>sale sanctus atomorum</p>
        <button class="my-button">
          READ MORE
          <img src={flechita.src} width={12} height={12} alt="icono flechita" />
        </button>
      </div>

      <div class="capaImg"></div>
    </div>
  </div>

  <div class="wrapper">
    <div class="content">
      <DescriptionContent />
    </div>
  </div>

  <div class="wrapper">
    <div class="content">
      <DescriptionContent />
    </div>
  </div>

  <div class="footer-background"></div>
</Layout>

<style></style>
