---
import Layout from "../layouts/Layout.astro";
import "../styles/styles.css";
import flechita from "../../public/icons/arrow.right.svg";
import DescriptionContent from "../components/DescriptionContent.astro";
import Footer from "../components/Footer.astro";
import DescriptionProject from "../components/DescriptionProject.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<Layout title="Vios Constructora 2023">
  <div class="header-background"></div>

  <div class="wrapper">
    <div class="content">
      <h1>Contenido 1</h1>
    </div>
  </div>

  <div class="wrapper">
    <div class="content">
      <div class="capaTex">
        <h1>GET TO KNOW US</h1>
        <h2>ABOUT ACRINO</h2>
        <p>sale sanctus atomorum</p>
        <button class="my-button">
          READ MORE
          <img src={flechita.src} width={12} height={12} alt="icono flechita" />
        </button>
      </div>

      <div class="capaImg"></div>
    </div>
  </div>

  <div class="wrapper">
    <div class="content" style="flex-direction: column">
      <SectionHeader subtitle="visita" title="nuestros proyectos" />
      <div class="grid-flow">
        <DescriptionProject />

        <DescriptionProject />

        <DescriptionProject />
      </div>
    </div>
  </div>

  <Footer />
  <div class="footer-background"></div>
</Layout>

<style>
  .grid-flow {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    height: 580px;
  }
</style>
